* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  width: 100vw;
  background: #f6f6f6;
  overflow-x: hidden;
}
canvas{
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}

input[type='file']{
  color: white;
}
.uidentity-app{
  padding: 10px;
}
.assets{
  display: flex;
  flex-wrap: wrap;
}
.assets figure{
  height: 20px;
  width: 20px;
  margin: 10px;
}
.assets figure img {
  height: 100%;
  width: auto;
  transition: all 0.2s ease-out;
}
.assets figure img:hover{
  transform: scale(1.1);
}

.uidentity-canvas{
  position: relative;
  .canvas-container{
    .canvas{
      opacity: 1;
      transition: all 0.2s ease-out;
      &.loading{
        opacity: 0.5;
      }
    }
  }
  .canvas-toolbox{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    &:hover{
      span{
        transform: translate(0, 0);
      }
    }
    span {
      display: inline-block;

      background: #fff;
      border-radius: 1px 1px 0 rgba(0, 0, 0, 0.2);
      font-size: 0.8rem;

      cursor: pointer;
      padding: 3px 10px;
      border-radius: 3px;
      margin-left: 5px;

      transform: translate(0, -200%);
      transition: all 0.2s ease-out;
    }
  }
}
