* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  width: 100vw;
  background: #f6f6f6;
  overflow-x: hidden;
}
canvas{
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}

.uidentity-app{
  padding: 10px;
  .settings{

  }
}

.assets{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;

  figure.asset{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;

    border-radius: 50%;
    padding: 1rem;

    &:hover{
      background: #eee;
      img{
        transform: scale(1.1)
      }
      .asset-toolbox{
        opacity: 1;
        pointer-events: all;
        top: 100%;
      }
    }

    .asset-toolbox{
      // transform: translate(-50%, 0);
      position:absolute;
      z-index: 10;
      display: flex;
      top: 0;
      left: -0.5rem;

      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease;

      i.fa{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        background: #eee;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.2s ease;
        &:hover{
          transform: scale(1);
        }

        &.fa-star{
          color: #ffc107;
          &:hover{
            background: #ffc107;
            color: white;
          }
        }
        &.fa-times{
          color: #dc3545;
          &:hover{
            background: #dc3545;
            color: white;
          }
        }


      }
    }

    img {
      height: 100%;
      width: auto;
      transition: all 0.2s ease-out;
    }
  }
}

.uidentity-canvas{
  position: relative;
  .canvas-container{
    .canvas{
      opacity: 1;
      transition: all 0.2s ease-out;
      &.loading{
        opacity: 0.5;
      }
    }
  }
  .canvas-toolbox{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    &:hover{
      button.btn {
        transform: translate(0, 0);
      }
    }
    button.btn {
      display: inline-block;
      cursor: pointer;
      margin-left: 5px;
      transform: translate(0, -200%);
      transition: all 0.2s ease-out;
    }
  }
}
